.pomodoro-app__preferences {
  transition: transform 200ms ease-in;
}
.pomodoro-app__preferences:hover {
  transform: scale(1.4) rotate(60deg);
}
.pomodoro-app__preferences:active {
  transform: scale(0.8);
}

.pane__close-preferences {
  position: absolute;
  right: 34px;
  top: 28px;
  color: var(--background-body);
  opacity: 0.5;
  transform: scale(2.5);
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}
.pane__close-preferences:hover {
  opacity: 1;
}
.pane__close-preferences:active {
  transform: scale(2);
}

.pane__apply-preferences {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -2rem;
  padding: 20px 40px;
  border-radius: 36.5px;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  background-color: var(--default-accent);
  color: #ffffff;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}
.pane__apply-preferences:hover {
  opacity: 1;
}
.pane__apply-preferences:active {
  transform: scale(0.8);
}
