.pomodoro-app__preferences {
  transition: transform 200ms ease-in-out;
}
.pomodoro-app__preferences:hover {
  transform: scale(1.4) rotate(60deg);
}

.pane__close-preferences {
  position: absolute;
  right: 34px;
  top: 28px;
  color: var(--background-body);
  opacity: 0.5;
  transform: scale(2.25);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.pane__close-preferences:hover {
  transform: scale(3.25);
  opacity: 1;
}

.pane__apply-preferences {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -2rem;
  padding: 20px 40px;
  border-radius: 36.5px;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--default-accent);
  color: #ffffff;
  transition: transform 200ms ease-in-out;
}
.pane__apply-preferences:hover {
  transform: scale(1.1);
}
