.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--background-timer);
  border-radius: 31.5px;
  max-width: 400px;
  padding: 8px 6px;
  z-index: 100;

  position: relative;
}

/* hide radio inputs so the labels can be styled */
.controls input[type='radio'] {
  position: fixed;
  opacity: 0;
  width: 0;
}

.controls__button {
  display: grid;
  place-content: center;
  border-radius: 26.5px;
  background: var(--background-timer);
  padding: 1.2rem 1rem;

  font-family: var(--font-current);
  font-weight: bold;
  font-size: 12px;
  color: var(--text);
  cursor: pointer;
}

.controls input[type='radio']:checked + label {
  color: var(--text-dark);
  opacity: 1;
  background: var(--accent-color);
  animation: fade ease-in 0.2s;
}

.controls__button:nth-child(2)::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 8px;
  z-index: 1;
  background-color: rgba(0, 255, 255, 0.589);
  padding: 24px 46px;
  border-radius: 26.5px;
  transition: transform 200ms ease-in-out;
}

.controls:hover .controls__button:nth-child(2)::after {
  transform: translate(-120px);
}

/* .controls__button:nth-child(2)::after:hover {
  transform: translate(-30px);
} */
