.timer {
  max-width: 300px;
  /* width: 90%; */
  padding: 0.7rem;
  border-radius: 50%;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  cursor: pointer;
}
.timer:active {
  transform: scale(0.98);
}

.timer__display {
  width: 100%;
  padding: 0.7rem;
  border-radius: 50%;
  background: var(--background-timer);
}

.display__start-pause {
  margin-top: 40%;
  font-family: var(--font-default);
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
  line-height: 16px;
  letter-spacing: 12px;
  margin-right: -15px; /* Accounts for extra whitespace letter-spacing introduced */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.timerrrr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  max-width: 300px;
  border-radius: 90%;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  cursor: pointer;
}

.timerrrr:active {
  transform: scale(0.98);
}

.timerrrr__display {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  height: 90%;
  width: 90%;
  padding: 11px;
  border-radius: 90%;
  background: var(--background-timer);
}

.displayyy__start-pause {
  margin-top: 40%;
  font-family: var(--font-default);
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
  line-height: 16px;
  letter-spacing: 12px;
  margin-right: -15px; /* Accounts for extra whitespace letter-spacing introduced */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
